BASE_URL=https://litecart.stqa.ru/
TEST_USER_1_EMAIL=
TEST_USER_1_PASSWORD=
TEST_USER_1_FIRST_NAME=
TEST_USER_1_LAST_NAME=
TEST_USER_2_EMAIL=
TEST_USER_2_PASSWORD=
TEST_USER_2_FIRST_NAME=
TEST_USER_2_LAST_NAME=
